.flash-box {
  height: auto;
  width: 100%;
  background-color: #38AEF0;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  line-height: 20px;
  text-align: center;
}

.chat-side {
  float: left;
  width: 300px;
  color: white;

  a {
    color: white;
  }

  .side-header {
    display: flex;
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    color: #FFFFFF;
    align-items: center;

    &__box {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 16px;
      font-weight: bold;

      &__user-name {
      }

      &__menu {
        display: flex;

        li {
         margin-left: 0.3rem;
        }
      }
    }
  }

  .groups {
    overflow: scroll;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    background-color: #2f3e51;
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;

  .main-header {
    display: flex;
    height: 100px;
    padding: 0 40px;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee;
    overflow: scroll;

    &__left-box {
      margin-top: 35px; 

      &__current-group {
        margin-bottom: 15px;
        font-size: 20px;
        color: #333333;
      }

      &__member-list {
        display: flex;
        font-size: 12px;
        color: #999999;
      }
    }

    a {
      color: #38aef0;
    }

    &__edit-btn {
      position: absolute;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      right: 40px;
      border: solid 1px #38aef0;
    }
  }

  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
  }
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
  form {
    display: flex;

    .input-box {
      position: relative;
      width: 100%;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }

      &__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &__file {
          display: none;
        }
      }

      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}